.dancer-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: theme-color("secondary");
  padding: 30px 30px;

  .dancer-card {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background-color: theme-color("primary");

    &-image {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &-textcontent {
      padding: 25px 15px;

      &-name {
        display: flex;
        border-bottom: 1px solid theme-color("forth");
      }

      &-infos {
        .textcontent-infos {
          margin-top: 20px;

          &-mail {
            display: flex;
            border-bottom: 1px solid bottom;
            text-decoration: underline;
          }

          &-country {
            display: flex;
            flex-flow: column;
          }

          &-dancestyles {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;

            a {
              color: theme-color("link-color");
              transition: color ease-in-out 0.2s;

              &:hover {
                color: theme-color("link-hover-color");
                transition: color ease-in-out 0.2s;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
