/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #6b705c,
  secondary: #a5a58d,
  third: #b7b7a4,
  forth: #ffe8d6,
  link-color: #203239,
  link-hover-color: #141e27,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
